*{
 margin: 0 0;
 padding:0 0;
}
body{
    font-family:arial, sans-serif;
    line-height:25px;
}
.wrapper{
   /* border:1px solid red;*/
    width:90%;
    margin: 0 auto;
    padding: 1% 1%;
}
.clearfix:after{
 content:" ";
 visibility:hidden;
 display:block;
 height:0;
 clear:both;    
}
/*css 4 header*/
.header {
    
    background-color: darkblue;
    color:white;

}

/*css for menu*/
.menu{
    margin:3px;
}
.menu ul{
   list-style-type: none;
   
}

.menu ul li a{
    text-decoration: none;
    color:black;
    padding:3px;
   height: 20px;
}
.menu ul li a:hover{
    background-color:darkblue;
    color:white;
}
.menu ul li{
    display:inline;
    }
    
   
    
/*css 4 main*/

.main{
    margin:10px;
}   
.main h3{
color:purple;    
}    
.houses{
    width:22.5%;
    border:1px solid grey;
    height:28%;
    margin: 1%;
    float:left;
    text-align:center;
}    
.houses .house-title{
    font-weight: bold;
    color:darkblue;
    padding:1px;
}
.house-added, .house-location, .house-price{
    font-weight: lighter;
        color:darkblue;
    padding:1px;
    font-size:90%;
}

.houses .btn-book{
    background-color:purple;
    color:white;
    height:10%;
    padding:2%;
    margin:3%;
}
.houses .btn-book:hover{
    background-color:darkblue;
    
}
.book-house img{
    width:45%;
    float:left;
    padding:2% 2%;
    margin:2% 2%;
}
.book-house h3{
    text-align:center;
    margin-bottom: 2%;
    text-decoration:underline;
}
.book-house p{
    text-align:justify;
    padding:1%;
    line-height:30px;
    
}
.houses:hover{
    box-shadow:0 0 3px 3px silver;
}
.houses img{
    width:100%;
    height:26%;
}

.main .booking-details{
    width:50%;
    margin:0 auto;
    border:2px solid darkblue;
    padding: 2%;
    margin:2% auto;         
}
.main .booking-details .name{
    width:20%;
    float:left;
}

.main .booking-details input[type="text"], .main .booking-details input[type="email"],.main .booking-details input[type="tel"],
.main .booking-details textarea, .main .booking-details input[type="password"]{
    padding:1%;
    margin:0.5%;
width:60%;
height:;
    
} 
.main .booking-details input[type="submit"]{
    padding:2%;
    background-color:darkblue;
    color: white;
    border: none;
    margin-left:150px;
}
.main .booking-details input[type="submit"]:hover{
    border:2px solid lightblue;
}
.main .booking-details input[type="reset"]{
    padding:2%;
    background-color:darkred;
    color: white;
    border: none;
}
.main .booking-details input[type="reset"]:hover{
    border:2px solid red;
} 
/*css 4 footer*/
.footer{
    
    background-color: darkblue;
    color:white;
    margin:5px;
}   
/*
.footer p{
    text-align:center;
}
*/
.footer p a{
    color:lightblue;   
}
.footer p a:hover{
    text-decoration: none;
    color:white;
}


